<!-- Demo  -->
<section id="demo" class="projects-section bg-light">
  <div class="py-5 text-center bg-secondary">
    <div class="container">
      <div class="row d-flex justify-content-start">
        <div class="col-md-12 p-1">
          <h1 class="mb-4 text-white text-left">Try it yourself</h1>
          <p class="text-left">As a quick demonstration we show that you can run these models directly in your browser. This is just a demonstration of the technology. We are also developing technology to run full size models in the cloud or on-site within customers data
            centers. &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <br> </p>
        </div>
      </div>
      <div class="row flex-row d-flex justify-content-start">
        <div class="p-1 col-md-3 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_10.jpg">
            <p class="text-white">Source Image &nbsp;</p>
          </a>
        </div>
        <div class="p-1 col-md-3 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_11.jpg">
            <p class="text-white">Normals</p>
          </a>
        </div>
        <div class="p-1 col-md-3 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_12.jpg">
            <p class="text-white">Roughness</p>
          </a>
        </div>
        <div class="p-1 col-md-3 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_13.jpg">
            <p class="text-white">&nbsp; &nbsp; &nbsp; &nbsp;Diffuse</p>
          </a>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-9 p-1 col-md-9">
          <img class="d-block img-fluid m-0 p-0" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;markers=New+York+City&amp;center=New+York+City&amp;zoom=12&amp;size=800x500&amp;sensor=false" width="100%">
          <p class="text-white">Web GL Rendering using above source material.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row d-flex justify-content-start" ></div>
    </div>
  </div>
</section>
