<!-- How it works  -->
<section id="how" class="projects-section bg-light">
  
  <div class="py-5 text-center bg-secondary">
    <div class="container">
      <div class="row d-flex justify-content-start">
        <div class="col-md-12 p-1">
          <h1 class="mb-4 text-white text-left">How does it work ?</h1>
          <p class="text-left"> Deep Based Physics Rendering (DeepPBR) uses AI to remove shadows and generate your image maps through deep learning. The Deep Physics Engine has learnt from other images and other textures, so that it can create normal maps, roughness maps and
            diffuse (delit) images from a simple photo, taken in normal light.
            <br> </p>
          <p class="text-left">Once it has generated normals, roughness and diffuse images from the source image, it's a simple matter of rendering this in your favorite rendering pipeline. We demonstrate here with WebGL in your browser.&nbsp;</p>
        </div>
      </div>
      <div class="row flex-row d-flex justify-content-start">
        <div class="p-1 col-md-3 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_10.jpg">
            <p class="text-white">Source Image &nbsp;</p>
          </a>
        </div>
        <div class="p-1 col-md-3 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_11.jpg">
            <p class="text-white">Normals</p>
          </a>
        </div>
        <div class="p-1 col-md-3 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_12.jpg">
            <p class="text-white">Roughness</p>
          </a>
        </div>
        <div class="p-1 col-md-3 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_13.jpg">
            <p class="text-white">&nbsp; &nbsp; &nbsp; &nbsp;Diffuse</p>
          </a>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-9 p-1 col-md-9">
          <img class="d-block img-fluid m-0 p-0" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;markers=New+York+City&amp;center=New+York+City&amp;zoom=12&amp;size=800x500&amp;sensor=false" width="100%">
          <p class="text-white">Web GL Rendering using above source material.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row d-flex justify-content-start">
        <div class="p-1 col-md-12">
          <p class="text-left">&nbsp;</p>
          <p class="text-left">Click below to try other see real results from other source images</p>
        </div>
      </div>
      <div class="row flex-row d-flex justify-content-start">
        <div class="p-1 col-md-2 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_10.jpg"> </a>
        </div>
        <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_11.jpg"> </a>
        </div>
        <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_12.jpg"> </a>
        </div>
        <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_13.jpg"> </a>
        </div>
      </div>
    </div>
  </div>
</section>