<!-- How it works  -->
<section id="how" class="projects-section">
  
  <div class="py-5 text-center">
    <div class="container">
      <div class="row d-flex justify-content-start">
        <div class="col-md-12 p-1">
          <h1 class="mb-4 text-white text-left">How does it work ?</h1>
          <p class="text-left"> Deep Based Physics Rendering (DeepPBR) uses AI to remove shadows and generate your image maps through deep learning. The Deep Physics Engine has learnt from other images and other textures, so that it can create normal maps, roughness maps and diffuse (delit) images from a simple photo, taken in normal light.
            <br> </p>
          <p class="text-left">Once it has generated normals, roughness and diffuse images from the source image, it's a simple matter of rendering this in your favorite rendering pipeline. We demonstrate here with WebGL in your browser.&nbsp;</p>
        </div>
      </div>

      <div class="row d-flex justify-content-start">
        <div class="p-1 col-md-12">
          <p class="text-left">&nbsp;</p>
          <p class="text-left">Click below to see results generated directly from unmodified source photos.</p>
        </div>
      </div>

      <div class="row flex-row d-flex justify-content-start select-source">
        <div class="col-md-12 p-1">
          <h3 class="mb-4 text-white text-left">Source image</h3>
        </div>
        <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="assets/img/examples/07_base.jpg"> </a>
        </div>
{{!--         <div class="p-1 col-md-2 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="assets/img/examples/00_base.jpg"> </a>
        </div> --}}
        <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="assets/img/examples/01_base.jpg"> </a>
        </div>
        <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="assets/img/examples/02_base.jpg"> </a>
        </div>
        <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="assets/img/examples/03_base.jpg"> </a>
        </div>
{{!--         <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="assets/img/examples/04_base.jpg"> </a>
        </div> --}}
        <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="assets/img/examples/05_base.jpg"> </a>
        </div>
        <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="assets/img/examples/06_base.jpg"> </a>
        </div>
{{!--         <div class="col-md-2 p-1 col-12">
          <a href="#">
            <img class="d-block img-fluid" src="assets/img/examples/08_base.jpg"> </a>
        </div> --}}
      </div>      
      <div class="row justify-content-start">
        <div class="col-12 p-1 col-md-12">
          <h3 class="mb-4 text-white text-left">Generated Model</h3>
          <div id="webgl_container" style="max-width:1110px"></div>
        </div>
      </div>
      <div class="row flex-row d-flex justify-content-start results">
        <div class="p-1 col-md-3 col-12">
          <a href="assets/img/examples/07_base.jpg" data-lightbox="roadtrip" class="src_base">
            <img class="d-block img-fluid" src="assets/img/examples/07_base.jpg">
            <p>Source Image &nbsp;</p>
          </a>
        </div>
        <div class="p-1 col-md-3 col-12">
          <a href="assets/img/examples/07_norms.jpg" data-lightbox="roadtrip" class="src_norms">
            <img class="d-block img-fluid" src="assets/img/examples/07_norms.jpg">
            <p>Normals</p>
          </a>
        </div>
        <div class="p-1 col-md-3 col-12">
          <a href="assets/img/examples/07_rough.jpg" data-lightbox="roadtrip" class="src_rough">
            <img class="d-block img-fluid" src="assets/img/examples/07_rough.jpg">
            <p>Roughness</p>
          </a>
        </div>
        <div class="p-1 col-md-3 col-12">
          <a href="assets/img/examples/07_delit.jpg" data-lightbox="roadtrip" class="src_delit">
            <img class="d-block img-fluid" src="assets/img/examples/07_delit.jpg">
            <p>Diffuse</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>