
<!-- masthead -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Deep PBR</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">A revolutionary new model for <br /> PBR (Physics Based Rendering) pipelines.</h2>
      <a href="#why" class="btn btn-primary js-scroll-trigger">Find out more</a>
    </div>
  </div>
</header>