<!-- Demo  -->
<section id="demo" class="projects-section bg-light">
  <div class="py-5 text-center bg-secondary">
    <div class="container">
      <div class="row d-flex justify-content-start">
        <div class="p-1 col-md-12">
          <h3 class="mb-4 text-white text-left">Example source images</h3>
          <p class="text-left text-white">Below are some photos taken in normal light with a regular camera.</p>
          <p class="text-left info-box"><i>(Click on any image)</i></p>
        </div>
      </div>
      <div class="row flex-row d-flex select-source">
      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/37_base_256.jpg" width="256" height="256">
          </a>
        </div>
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/07_base_256.jpg" width="256" height="256">
          </a>
        </div>
      
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/01_base_256.jpg" width="256" height="256">
          </a>
        </div>
              <div>
          <a href="#">
             <img data-lazy="assets/img/examples/41_base_256.jpg" width="256" height="256">
          </a>
        </div>
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/02_base_256.jpg" width="256" height="256">
          </a>
        </div>
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/03_base_256.jpg" width="256" height="256">
          </a>
        </div>
          <div>
          <a href="#">
             <img data-lazy="assets/img/examples/35_base_256.jpg" width="256" height="256">
          </a>
        </div>
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/05_base_256.jpg" width="256" height="256">
          </a>
        </div>
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/06_base_256.jpg" width="256" height="256">
          </a>
        </div>
        {{!-- <div>
          <a href="#">
            <img data-lazy="assets/img/examples/11_base_256.jpg" width="256" height="256">
          </a>
        </div>
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/12_base_256.jpg" width="256" height="256">
          </a>
        </div>
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/13_base_256.jpg" width="256" height="256">
          </a>
        </div>
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/14_base_256.jpg" width="256" height="256">
          </a>
        </div>
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/15_base_256.jpg" width="256" height="256">
          </a>
        </div>
        
        <div>
          <a href="#">
            <img data-lazy="assets/img/examples/16_base_256.jpg" width="256" height="256">
          </a>
        </div> --}}

      <!-- <div>
          <a href="#">
             <img data-lazy="assets/img/examples/20_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
 <!--       <div>
          <a href="#">
             <img data-lazy="assets/img/examples/22_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
      <!-- <div>
          <a href="#">
             <img data-lazy="assets/img/examples/23_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
      <!-- <div>
          <a href="#">
             <img data-lazy="assets/img/examples/24_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
    
      
      <!-- <div>
          <a href="#">
             <img data-lazy="assets/img/examples/27_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
      <!-- <div>
          <a href="#">
             <img data-lazy="assets/img/examples/28_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
      <!-- <div>
          <a href="#">
             <img data-lazy="assets/img/examples/29_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/30_base_256.jpg" width="256" height="256">
          </a>
        </div>
     <!--  <div>
          <a href="#">
             <img data-lazy="assets/img/examples/31_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/32_base_256.jpg" width="256" height="256">
          </a>
        </div>
          <div>
          <a href="#">
             <img data-lazy="assets/img/examples/25_base_256.jpg" width="256" height="256">
          </a>
        </div>
 <!--      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/33_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/34_base_256.jpg" width="256" height="256">
          </a>
        </div>
      
      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/36_base_256.jpg" width="256" height="256">
          </a>
        </div>

      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/38_base_256.jpg" width="256" height="256">
          </a>
        </div>
      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/39_base_256.jpg" width="256" height="256">
          </a>
        </div>
      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/40_base_256.jpg" width="256" height="256">
          </a>
        </div>

        <div>
          <a href="#">
             <img data-lazy="assets/img/examples/26_base_256.jpg" width="256" height="256">
          </a>
        </div>
     <!--  <div> -->
          <!-- <a href="#">
             <img data-lazy="assets/img/examples/42_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/43_base_256.jpg" width="256" height="256">
          </a>
        </div>
     <!--  <div>
          <a href="#">
             <img data-lazy="assets/img/examples/44_base_256.jpg" width="256" height="256">
          </a>
        </div> -->
      <div>
          <a href="#">
             <img data-lazy="assets/img/examples/45_base_256.jpg"  width="256" height="256">
          </a>
        </div>


      </div>
     
      <div class="row d-flex justify-content-start">
        <div class="p-1 col-md-12">
          <h4 class="mb-4 text-white text-left">Example Generated Models</h4>
          <p class="text-left text-white">Models generated directly from the source images using our (early alpha) Deep PBR pipeline.</p>
          <p class="text-left info-box"><i>(Click and drag to rotate)</i></p>
          <div id="webgl_container" ></div>
        </div>
      </div>
      
      <div class="row flex-row d-flex results">
        <div class="p-1 col-xs-12 col-md-12">
          <h4 class="mb-4 text-white text-left">Generated files</h4>
          <p class="text-left info-box"><i>Needed to render high fidelity models.</i></p>
        </div>
        <div class="col-xs-12 col-md-3 ">
          <a href="assets/img/examples/07_norms.jpg" class="src_norms">
            <img src="assets/img/examples/07_norms.jpg">
            <p>Normals</p>
          </a>
        </div>
        <div class="col-xs-12 col-md-3">
          <a href="assets/img/examples/07_disp.jpg" class="src_disp">
            <img src="assets/img/examples/07_disp.jpg" width="256" height="256">
            <p>Displacement</p>
          </a>
        </div>
        <div class="col-xs-12 col-md-3">
          <a href="assets/img/examples/07_rough.jpg" class="src_rough">
            <img src="assets/img/examples/07_rough.jpg" width="256" height="256">
            <p>Roughness</p>
          </a>
        </div>
        <div class="col-xs-12 col-md-3">
          <a href="assets/img/examples/07_delit.jpg" class="src_delit">
            <img src="assets/img/examples/07_delit.jpg" width="256" height="256">
            <p>Diffuse</p>
          </a>
        </div>
        <div class="col-xs-12 col-md-12">
          <h4 class="mb-4 text-white text-left">Source file</h4>

          <a href="assets/img/examples/07_base.jpg" class="src_base">
            <img src="assets/img/examples/07_base.jpg" width="512" height="512">
            <p>Source Image &nbsp;</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
