<!-- About our team -->
<section id="who"class="projects-section bg-light" id="team">
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Team</h2>
          <h3 class="section-subheading text-muted"><b>deepPBR</b> is a project from the team already defining the cutting edge in high fidelity VR/AR at <a href="http://RealityVirtual.co">RealityVirtual.co</a>.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/simon.png" alt="">
            <h4>Simon Che de Boer</h4>
            <p class="text-muted">Chief Visionary Officer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UCQ2ni3I93zHmyBJ1-zkbe2w">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://nz.linkedin.com/in/simon-che-de-boer-2a49386a">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/thesystemera">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
             
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/dan.png" alt="">
            <h4>Dan Monaghan</h4>
            <p class="text-muted">AR/VR Rendering</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/danmonaghanz" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/danmonaghannz/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://vimeo.com/luckybulldozer" target="_blank">
                  <i class="fab fa-vimeo"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/miles.png" alt="">
            <h4>Miles Thompson</h4>
            <p class="text-muted">Machine Learning</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="http://github.com/utunga" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/milesthompson/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://instagram.com/utunga216/" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        {{!-- <div class="col-md-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/philip_tmp.png" alt="">
            <h4>Philip Plough</h4>
            <p class="text-muted">General Counsel</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div> --}}
      </div>        
      {{!-- <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Lorem ipsum more text could go here or leave it .</p>
        </div>
      </div> --}}
    </div>
  </div>
</section>