
<!-- About Section -->
<section id="why" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <h2 class="text-white mb-4">Built by 3d rendering experts for rendering experts</h2>
        <p class="text-white-50">Creating the high end fidelity of modern VR, AR or other PBR experiences takes hours and hours of your time with complex lighting gear and all sorts of other equipment. We didn't have time for all that and neither do you!
        <br/>
        <br/>
        Our system uses AI trained on millions of images to create a network so smart it can accurately infer what you need directly from camera photos.  Just upload your source photographs and download normals, roughness and de-lit texture maps (and more to come!).</p>
        <p class="text-white-50"><a href="#how" class="js-scroll-trigger">But how does it work??</a></p>
      </div>
    </div>
  </div>
</section>