{{#extend "base"}}
{{#content "main" mode="prepend"}}

<body id="page-top">

    {{> navigation }}
    {{> masthead }}
    {{> why }}
    {{> how }}
    {{> simple_demo }}
    {{> who }}
    <!-- signup -->
    {{> contact }}

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; <a href="http://realityvirtual.co">Reality Virtual</a> 2018
      </div>
    </footer>

{{/content}}
{{/extend}}
